<%= link_to "Map", home_map_path %>

<h1>Newest listings</h1>

<% @newest.each do |r| %>
<p>
<%= link_to r.title, r.link %><br/>
Price: <%= r.price.to_s %><br/>
Lat: <%= r.lat %>, Lon: <%= r.lon %>
</p>
<% end %>